langchain
langchain-core
langgraph==0.0.40
langchain-groq
python-dotenv
streamlit
pypdf
faiss-cpu
langchain-community
langchain-huggingface
duckduckgo-search
requests
sentence-transformers
torchvision